{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>jongolo Login home page</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <style>
        .login-icons {
            position: absolute;
            bottom: 46%;
            right: 46%;
            color: white;
            background: black;
            padding: 10px 9px;
            margin: 0px 0px 0px 0px;
            border-radius: 0.25rem;
        }

        .form-control {
            padding-left: 40px;
        }

    </style>
</head>

<body>





    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="login-wrapper" style="background: black;">
            <div class="container">
                
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error'%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        
        </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success'%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        
        </div>
    {% endif %}
    {% endfor %}
{% endif %}
                <div class="loginbox">
                    <div class="login-left" style="background: url(/static/admin/img/banners/banners-2.jpg);">

                    </div>
                    <div class="login-right">

                        <div class="login-right-wrap">
                            <div class="logo-login">
                                <img class="img-fluid" src="{% static 'admin/img/Logo-black.png' %}" alt="Logo">
                            </div>
                            <h1> Welcome To Jongolo </h1>
                            <p class="account-subtitle">Access to our Login</p>

                            <!-- Form -->
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Email</label>
                                    <i class="fa fa-envelope login-icons" aria-hidden="true"></i>
                                    <input class="form-control" name="email" type="text" placeholder="Email">
                                </div>
                                <div class="form-group">

                                    <label>Password</label>
                                    <i class="fa fa-key login-icons" aria-hidden="true" style="bottom: 32%;"></i>
                                    <input class="form-control" name="password" type="password" id="id_password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="submit"
                                        style="background: linear-gradient(357deg, #af6b14, #af6b14);border: 2px solid #af6b14;">Login</button>
                                </div>
                            </form>
                            <!-- /Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->

    <script src="{% static 'admin/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'admin/js/script.js' %}"></script>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');

        togglePassword.addEventListener('click', function (e) {
           // toggle the type attribute
           const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
           password.setAttribute('type', type);
           // toggle the eye slash icon
           this.classList.toggle('fa-eye-slash');
        });
     </script>

</body>

</html>