
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Notification Jongolo Home Page</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/favicon.png' %}">
	<link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/feathericon.min.css '%}">
	<link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
	<style>
		ul.dropdown-menu.show {
			width: 100%;
			padding: 10px 10px;
		}
	</style>
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header">

			<!-- Logo -->
			<div class="header-left">
				<a href="index.html" class="logo">
					<img src="{% static 'admin/img/logo.png' %}" alt="Logo">
				</a>
				<a href="index.html" class="logo logo-small">
					<img src="{% static 'admin/img/logo-small.png '%}" alt="Logo" width="30" height="30">
				</a>
			</div>
			<!-- /Logo -->

			<a href="javascript:void(0);" id="toggle_btn">
				<i class="fe fe-text-align-left"></i>
			</a>


			<!-- Mobile Menu Toggle -->
			<a class="mobile_btn" id="mobile_btn">
				<i class="fa fa-bars"></i>
			</a>
			<!-- /Mobile Menu Toggle -->

			<!-- Header Right Menu -->
			<ul class="nav user-menu">

				<!-- App Lists -->
				<li class="nav-item dropdown app-dropdown">
					<a class="nav-link dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown"
						href="#"><i class="fe fe-app-menu"></i></a>
					<ul class="dropdown-menu app-dropdown-menu">
						<li>
							<div class="app-list">
								<div class="row">
									<div class="col"><a class="app-item" href="inbox.html"><i
												class="fa fa-envelope"></i><span>Email</span></a></div>
									<div class="col"><a class="app-item" href="calendar.html"><i
												class="fa fa-calendar"></i><span>Calendar</span></a></div>
									<div class="col"><a class="app-item" href="#"><i
												class="fa fa-comments"></i><span>Chat</span></a></div>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<!-- /App Lists -->

				<!-- User Menu -->
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<span class="user-img"><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg"
								width="31" alt="Ryan Taylor"></span>
					</a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm">
								<img src="assets/img/profiles/avatar-01.jpg" alt="User Image"
									class="avatar-img rounded-circle">
							</div>
							<div class="user-text">
								<h6>Ryan Taylor</h6>
								<p class="text-muted mb-0">Administrator</p>
							</div>
						</div>
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</li>
				<!-- /User Menu -->

			</ul>
			<!-- /Header Right Menu -->

		</div>
		<!-- /Header -->

		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title">
							<span>Main</span>
						</li>
						<li>
							<a href="index.html"><i class="fe fe-home"></i> <span>Dashboard</span></a>
						</li>
						<li class="submenu ">
							<a href="#" class=""><i class="fa fa-users "></i> <span> User </span> <span
									class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="user_add_user.html"> <i class="fa fa-angle-double-right"></i> Add User </a>
								</li>
								<li><a href="user_view_user.html"> <i class="fa fa-angle-double-right"></i> View User
									</a></li>
							</ul>
						</li>
						<li class="submenu ">
							<a href="#" class=""><i class="fa fa-tasks"></i> <span> Product </span> <span
									class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="product_add_user.html"> <i class="fa fa-angle-double-right"></i> Add
										Product </a></li>
								<li><a href="product_view_user.html"> <i class="fa fa-angle-double-right"></i> View
										Product </a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#" class=""><i class="fa fa-bandcamp "></i> <span> Vendor </span> <span
									class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="vendor_add_user.html"> <i class="fa fa-angle-double-right"></i> Add Vendor
									</a></li>
								<li><a href="vendor_view_user.html"> <i class="fa fa-angle-double-right"></i> View
										Vendor </a></li>
							</ul>
						</li>
						<li>
							<a href="Earning.html"><i class="fa fa-money"></i> <span>Earning</span></a>
						</li>
						<li>
							<a href="Product_review.html"><i class="fa fa-address-card"></i> <span>Product
									Review</span></a>
						</li>
						<li class="active">
							<a href="Notification.html"><i class="fa fa-question"></i> <span>Notification</span></a>
						</li>
						<li>
							<a href="privacy_policy.html"><i class="fa fa-briefcase"></i> <span>privacy
									policy</span></a>
						</li>
						<li>
							<a href="terms_condition.html"><i class="fa fa-briefcase"></i> <span>Terms
									Condition</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<div class="card full-header">
								<div class="text-editor">
									<div class="users">
										<h3 class="page-title">Notification</h3>
									</div>
									<div class="user-box">
										<div class="datatables">
											<form action="#" class=" row">

												<div class="form-group col-sm-12">
													<label>Select Title</label>
													<div class="dropdown">
														<button
															class="btn form-control text-left btn-default dropdown-toggle"
															type="button" data-toggle="dropdown"><span
																class="dropdown-text"> Select Options</span>
															<span class="caret"></span></button>
														<ul class="dropdown-menu">
															<li><a href="#"><label><input type="checkbox"
																			class="selectall" /><span
																			class="select-text"> Select</span>
																		All</label></a></li>
															<li class="divider"></li>
															<li><a class="option-link" href="#"><label><input
																			name='options[]' type="checkbox"
																			class="option justone" value='Option 1 ' />
																		Option 1</label></a></li>
															<li><a href="#"><label><input name='options[]'
																			type="checkbox" class="option justone"
																			value='Option 2 ' /> Option 2</label></a>
															</li>
															<li><a href="#"><label><input name='options[]'
																			type="checkbox" class="option justone"
																			value='Option 3 ' /> Option 3</label></a>
															</li>
														</ul>
													</div>
												</div>
												<div class="form-group col-sm-12">
													<label>Title</label>
													<input type="text" class="form-control" placeholder="Title">
												</div>
												<div class="form-group col-sm-12">
													<label> Discription</label>
													<textarea type="text" class="form-control" placeholder="Discription"
														style="height: 58px;"></textarea>
												</div>
												<div class="form-group col-sm-12">
													<div class="submit">
														<a href="#" class="form-control bg-submits"> Submit</a>
													</div>

												</div>
											</form>
										</div>
									</div>
								</div>
								<!--  -->
								<div class="full-editor mt-3">
									<div class="users">
										<h3 class="page-title">Notification Detail</h3>
									</div>

									<table id="example" class="display nowrap" style="width:100%">
										<thead>
											<tr>
												<th>S.no</th>
												<th>Notification</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr class="even">
												<td>1</td>
												<td> A Notification is a statement or a legal document that states how a
													company or website collects, handles and processes data of its
													customers and visitors. It explicitly describes whether that
													information is kept confidential, or is shared with or sold to third
													parties</td>
												<td>
													<button class="btn btn-primary mb-2"><a class="edit-btn"
															href="#">Edit</a></button>
													<button class="btn btn-primary mb-2"><a class="edit-btn"
															href="#">Delete</a></button>
												</td>
											</tr>
											<tr class="odd">
												<td>2</td>
												<td> A Notification is a statement or a legal document that states how a
													company or website collects, handles and processes data of its
													customers and visitors. It explicitly describes whether that
													information is kept confidential, or is shared with or sold to third
													parties</td>
												<td>
													<button class="btn btn-primary mb-2"><a class="edit-btn"
															href="#">Edit</a></button>
													<button class="btn btn-primary mb-2"><a class="edit-btn"
															href="#">Delete</a></button>
												</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Page Header -->

				<div class="row">
					<div class="col-sm-12">

					</div>
				</div>

			</div>
		</div>
		<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="{% static 'admin/js/jquery-3.6.0.min.js' %}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'admin/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Slimscroll JS -->
	<script src="{% static 'admin/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'admin/js/script.js' %}"></script>
	<!-- DATATABLES  -->
	<!--DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START -->
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#example').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			});
		});
	</script>
	<!-- SELECT DROPDOWN CHECKBOX SCRIPT START  -->
	<script>
		$('body').on("click", ".dropdown-menu", function (e) {
			$(this).parent().is(".open") && e.stopPropagation();
		});

		$('.selectall').click(function () {
			if ($(this).is(':checked')) {
				$('.option').prop('checked', true);
				var total = $('input[name="options[]"]:checked').length;
				$(".dropdown-text").html('(' + total + ') Selected');
				$(".select-text").html(' Deselect');
			} else {
				$('.option').prop('checked', false);
				$(".dropdown-text").html('(0) Selected');
				$(".select-text").html(' Select');
			}
		});

		$("input[type='checkbox'].justone").change(function () {
			var a = $("input[type='checkbox'].justone");
			if (a.length == a.filter(":checked").length) {
				$('.selectall').prop('checked', true);
				$(".select-text").html(' Deselect');
			}
			else {
				$('.selectall').prop('checked', false);
				$(".select-text").html(' Select');
			}
			var total = $('input[name="options[]"]:checked').length;
			$(".dropdown-text").html('(' + total + ') Selected');
		});
	</script>
</body>

</html>