{% extends 'base.html'%}
{% load widget_tweaks %}
{% load static %}
{% block content%}

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card full-header">
                        <div class="users">
                            <h3 class="page-title">Product Review </h3>
                        </div>
                        <div class="user-box">
                            <div class="datatables">
                                <table id="example" class="display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>S.no</th>
                                            <th>Product Review name</th>
                                            <th>Product Review Image</th>
                                            <th>Product Review Varient</th>
                                            <th>Product Review Quantity</th>
                                            <th>Product Review Badge</th>
                                            <th>Product Review Discription</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for r in product %}
                                        <tr class="even">
                                            <td>{{ r.id }}</td>
                                            <td>{{ r.name }}</td>
                                            <td><img class="rounded-circle" src="{{ r.image.url }}" alt="" height="90px" width="50%"></td>
                                            <!-- <td>Size xl</td> -->
                                            <td>{{ r.user }}</td>
                                            <td>{{ r.price }}</td>
                                            <td>
                                                <div class="badge badge-success">rating/review</div>
                                            </td>
                                            <td>{{ r.description }}.</td>
                                            <td>
                                                <!-- <button class="btn btn-primary"><a class="edit-btn"
                                                        href="/update_product1/{{r.pk}}">Edit</a></button> -->
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="{% url 'super_admin/delete_product1' id=r.id %}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <!-- <tr class="odd">
                                            <td>2</td>
                                            <td>Product Review Clothes</td>
                                            <td><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg"
                                                    width="31" alt="Ryan Taylor"></td>
                                            <td>Size xl</td>
                                            <td>3</td>
                                            <td>
                                                <div class="badge badge-success">Medium</div>
                                            </td>

                                            <td>Lorem Ipsum is simply dummy text.</td>
                                            <td>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Edit</a></button>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Delete</a></button>
                                            </td>
                                        </tr> -->
                                        <!-- <tr class="even">
                                            <td>1</td>
                                            <td>Product Review Clothes</td>
                                            <td><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg"
                                                    width="31" alt="Ryan Taylor"></td>
                                            <td>Size xl</td>
                                            <td>3</td>
                                            <td>
                                                <div class="badge badge-primary">high</div>
                                            </td>
                                            <td>Lorem Ipsum is simply dummy text.</td>
                                            <td>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Edit</a></button>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Delete</a></button>
                                            </td>
                                        </tr> -->
                                        <!-- <tr class="odd">
                                            <td>2</td>
                                            <td>Product Review Clothes</td>
                                            <td><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg"
                                                    width="31" alt="Ryan Taylor"></td>
                                            <td>Size xl</td>
                                            <td>3</td>
                                            <td>
                                                <div class="badge badge-primary">high</div>
                                            </td>
                                            <td>Lorem Ipsum is simply dummy text.</td>
                                            <td>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Edit</a></button>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Delete</a></button>
                                            </td>
                                        </tr> -->
                                        <!-- <tr class="even">
                                            <td>1</td>
                                            <td>Product Review Clothes</td>
                                            <td><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg"
                                                    width="31" alt="Ryan Taylor"></td>
                                            <td>Size xl</td>
                                            <td>3</td>
                                            <td>
                                                <div class="badge badge-primary">high</div>
                                            </td>
                                            <td>Lorem Ipsum is simply dummy text.</td>
                                            <td>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Edit</a></button>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Delete</a></button>
                                            </td>
                                        </tr> -->
                                        <!-- <tr class="odd">
                                            <td>2</td>
                                            <td>Product Review Clothes</td>
                                            <td><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg"
                                                    width="31" alt="Ryan Taylor"></td>
                                            <td>Size xl</td>
                                            <td>3</td>
                                            <td>
                                                <div class="badge badge-primary">high</div>
                                            </td>
                                            <td>Lorem Ipsum is simply dummy text.</td>
                                            <td>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Edit</a></button>
                                                <button class="btn btn-primary"><a class="edit-btn"
                                                        href="#">Delete</a></button>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->


<!-- DATATABLES  -->
<!--DATATABLES SCRIPT START -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
{% endblock %}