{% load static %}
  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li class="active">
                    <a href="/dashboard"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                </li>
                <li class="submenu">
                    <a href="#" class=""><i class="fa fa-users "></i> <span> User </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="/sadmin/add_user"> <i class="fa fa-angle-double-right"></i> Add User </a>
                        </li>
                        <li><a href="/sadmin/view_user"> <i class="fa fa-angle-double-right"></i> View User
                            </a></li>
                    </ul>
                </li>
                
                <!-- <li class="submenu">
                    <a href="#" class=""><i class="fa fa-tasks"></i> <span> Product </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="/add_product"> <i class="fa fa-angle-double-right"></i> Add
                                Product </a></li>
                        <li><a href="view_product"> <i class="fa fa-angle-double-right"></i> View
                                Product </a></li>
                    </ul>
                </li> -->

                <li class="submenu">
                    <a href="#" class=""><i class="fa fa-bandcamp "></i> <span> Vendor </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="/add_vender"> <i class="fa fa-angle-double-right"></i> Add Vendor
                            </a></li>
                        <li><a href="/view_vender"> <i class="fa fa-angle-double-right"></i> View
                                Vendor </a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#" class=""><i class="fa fa-users "></i> <span> Bloger </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="/add_bloger"> <i class="fa fa-angle-double-right"></i> Add Bloger </a>
                        </li>
                        <li><a href="/view_bloger"> <i class="fa fa-angle-double-right"></i> View Bloger
                            </a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class=""><i class="fa fa-tasks"></i> <span> Category </span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="/category"> <i class="fa fa-angle-double-right"></i> Add
                                Category </a></li>
                        <li><a href="/view_category"> <i class="fa fa-angle-double-right"></i> View
                                Category </a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="/earning_admin"><i class="fa fa-money"></i> <span>Earning</span></a>
                </li>
                <li>
                    <a href="Product_review.html"><i class="fa fa-address-card"></i> <span>Product
                            Review</span></a>
                </li>
                <li>
                    <a href="Notification.html"><i class="fa fa-question"></i> <span>Notification</span></a>
                </li>
                <li>
                    <a href="privacy_policy.html"><i class="fa fa-briefcase"></i> <span>privacy
                            policy</span></a>
                </li>
                <li>
                    <a href="/super_admin/terms"><i class="fa fa-briefcase"></i> <span>Terms
                            Condition</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->