{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>jongolo home page</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'vender/img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'vender/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'vender/css/font-awesome.min.css' %}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{% static 'vender/css/feathericon.min.css' %}">
		
		<link rel="stylesheet" href="{% static 'vender/plugins/morris/morris.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'vender/css/style.css' %}">
    </head>
    <body>

        		<!-- jQuery -->
                <script src="{% static 'vender/js/jquery-3.6.0.min.js' %}"></script>
		
                <!-- Bootstrap Core JS -->
                <script src="{% static 'vender/js/bootstrap.bundle.min.js' %}"></script>
                
                <!-- Slimscroll JS -->
                <script src="{% static 'vender/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
                
                <script src="{% static 'vender/plugins/raphael/raphael.min.js' %}"></script>    
                <script src="{% static 'vender/plugins/morris/morris.min.js' %}"></script>  
                <script src="{% static 'vender/js/chart.morris.js' %}"></script>
                
                <!-- Custom JS -->
                <script  src="{% static 'vender/js/script.js' %}"></script>
                
            </body>
        </html>