

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>jongolo home page</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'vender/img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'vender/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'vender/css/font-awesome.min.css' %}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{% static 'vender/css/feathericon.min.css' %}">
		
		<link rel="stylesheet" href="{% static 'vender/plugins/morris/morris.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'vender/css/style.css' %}">
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="/dashboard-add" class="logo">
						<img src="static/vender/img/logo.png" alt="Logo">
					</a>
					<a href="/dashboard-add" class="logo logo-small">
						<img src="{% static 'vender/img/logo-small.png' %}" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="static/vender/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="{% static 'vender/img/profiles/avatar-01.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="update-vender">My Profile</a>
							<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li class="active"> 
								<a href="/dashboard-add"><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>
							<!--<li class="submenu">-->
							<!--	<a href="#" class=""><i class="fa fa-users "></i> <span> User </span> <span class="menu-arrow"></span></a>-->
							<!--	<ul style="display: none;">-->
							<!--		<li><a href="user_add_user.html"> <i class="fa fa-angle-double-right" ></i> Add User </a></li>-->
							<!--		<li><a href="user_view_user.html"> <i class="fa fa-angle-double-right" ></i> View User  </a></li>-->
							<!--	</ul>-->
							<!--</li>-->
							<li class="submenu">
								<a href="#" class=""><i class="fa fa-tasks"></i> <span> Product </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/add_product"> <i class="fa fa-angle-double-right" ></i> Add Product </a></li>
									<li><a href="/view_product"> <i class="fa fa-angle-double-right" ></i> View Product </a></li>
								</ul>
							</li>
							<!--<li class="submenu">-->   
							<!--	<a href="#" class=""><i class="fa fa-bandcamp "></i> <span> Vendor </span> <span class="menu-arrow"></span></a>-->
							<!--	<ul style="display: none;">-->
							<!--		<li><a href="vendor_add_user.html"> <i class="fa fa-angle-double-right" ></i> Add Vendor </a></li>-->
							<!--		<li><a href="vendor_view_user.html"> <i class="fa fa-angle-double-right" ></i> View Vendor  </a></li>-->
							<!--	</ul>-->
							<!--</li>-->
							<li> 
								<a href="Earning.html"><i class="fa fa-money"></i> <span>Earning</span></a>
							</li>	
								<li> 
								<a href="View_Order.html"><i class="fa fa-money"></i> <span>View Order</span></a>
							</li>
							<!--<li> -->
							<!--	<a href="Product_review.html"><i class="fa fa-address-card"></i> <span>Product Review</span></a>-->
							<!--</li>-->
							<!--<li> -->
							<!--	<a href="Notification.html"><i class="fa fa-question"></i> <span>Notification</span></a>-->
							<!--</li>-->
							<!--<li> -->
							<!--	<a href="privacy_policy.html"><i class="fa fa-briefcase"></i> <span>privacy policy</span></a>-->
							<!--</li>-->
							<!--<li> -->
							<!--	<a href="terms_condition.html"><i class="fa fa-briefcase"></i> <span>Terms Condition</span></a>-->
							<!--</li>-->
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
                <div class="content container-fluid">
					
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-md-8">
								<h3 class="page-title">Welcome To Jongolo Admin!</h3>
							</div>
							<div class="col-md-4">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/dashboard-add">Dashboard</a></li>
									<li class="breadcrumb-item active">Dashboard</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
						<div class="card-body bg-gradient" style="
    background: linear-gradient(91deg, #000000bd, #00000091), url(static/vender/img/dash/dash-1.jpg);">
									<div class="dash-widget-header">
										<span class="dash-widget-icon bg-primary">
											<i class="fe fe-users"></i>
										</span>
										
									</div>
									<div class="dash-widget-info">
										<h3>Customers</h3>
										<h6 class="text-muted text-white">168 </h6>
										<div class="progress progress-sm">
											<div class="progress-bar w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
						<div class="card-body bg-gradient" style="
    background: linear-gradient(91deg, #000000bd, #00000091), url(static/vender/img/dash/dash-1.jpg);">
									<div class="dash-widget-header">
										<span class="dash-widget-icon bg-success">
											<i class="fe fe-money"></i>
										</span>
										
									</div>
									<div class="dash-widget-info">
										<h3>Products </h3>
										<h6 class="text-muted text-white">21587</h6>
										<div class="progress progress-sm">
											<div class="progress-bar  w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
						<div class="card-body bg-gradient" style="
    background: linear-gradient(91deg, #000000bd, #00000091), url(static/vender/img/dash/dash-1.jpg);">
									<div class="dash-widget-header">
										<span class="dash-widget-icon bg-danger">
											<i class="fe fe-credit-card"></i>
										</span>
										
									</div>
									<div class="dash-widget-info">
										<h3>Sales</h3>
										<h6 class="text-muted text-white">$56485</h6>
										<div class="progress progress-sm">
											<div class="progress-bar w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
						<div class="card-body bg-gradient" style="
    background: linear-gradient(91deg, #000000bd, #00000091), url(static/vender/img/dash/dash-1.jpg);">
									<div class="dash-widget-header">
										<span class="dash-widget-icon bg-warning">
											<i class="fe fe-folder"></i>
										</span>
										
									</div>
									<div class="dash-widget-info">
										<h3>Revenue </h3>
										<h6 class="text-muted text-white">$62523</h6>
										<div class="progress progress-sm">
											<div class="progress-bar  w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-6">
						
							<!-- Sales Chart -->
							<div class="card card-chart bg-border">
								<div class="card-header">
									<h4 class="card-title">Sales Overview</h4>
								</div>
								<div class="card-body">
									<div id="morrisArea"></div>
								</div>
							</div>
							<!-- /Sales Chart -->
							
						</div>
						<div class="col-md-12 col-lg-6">
						
							<!-- Invoice Chart -->
							<div class="card card-chart bg-border">
								<div class="card-header">
									<h4 class="card-title">Order Status</h4>
								</div>
								<div class="card-body">
									<div id="morrisLine"></div>
								</div>
							</div>
							<!-- /Invoice Chart -->
							
						</div>	
					</div>
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static 'vender/js/jquery-3.6.0.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'vender/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{% static 'vender/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
		
		<script src="{% static 'vender/plugins/raphael/raphael.min.js' %}"></script>    
		<script src="{% static 'vender/plugins/morris/morris.min.js' %}"></script>  
		<script src="{% static 'vender/js/chart.morris.js' %}"></script>
		
		<!-- Custom JS -->
		<script  src="{% static 'vender/js/script.js' %}"></script>
		
    </body>
</html>