{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Add Product Jongolo Home Page</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'vender/img/favicon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vender/css/bootstrap.min.css' %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'vender/css/font-awesome.min.css' %}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="{% static 'vender/css/feathericon.min.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'vender/css/style.css' %}">

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="/dashboard-add" class="logo">
                    <img src="{% static 'vender/img/logo.png' %}" alt="Logo">
                </a>
                <a href="/dashboard-add" class="logo logo-small">
                    <img src="{% static 'vender/img/logo-small.png' %}" alt="Logo" width="30" height="30">
                </a>
            </div>
            <!-- /Logo -->

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>


            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->

            <!-- Header Right Menu -->
            <ul class="nav user-menu">

                <!-- App Lists -->
                <li class="nav-item dropdown app-dropdown">
                    <a class="nav-link dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown"
                        href="#"><i class="fe fe-app-menu"></i></a>
                    <ul class="dropdown-menu app-dropdown-menu">
                        <li>
                            <div class="app-list">
                                <div class="row">
                                    <div class="col"><a class="app-item" href="inbox.html"><i
                                                class="fa fa-envelope"></i><span>Email</span></a></div>
                                    <div class="col"><a class="app-item" href="calendar.html"><i
                                                class="fa fa-calendar"></i><span>Calendar</span></a></div>
                                    <div class="col"><a class="app-item" href="#"><i
                                                class="fa fa-comments"></i><span>Chat</span></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- /App Lists -->

                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle"
                                src="{% static 'vender/img/profiles/avatar-01.jpg' %}" width="31"
                                alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="{% static 'vender/img/profiles/avatar-01.jpg' %}" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Ryan Taylor</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->

            </ul>
            <!-- /Header Right Menu -->

        </div>
        <!-- /Header -->

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        <li>
                            <a href="/dashboard-add"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                        </li>

                        <li class="submenu active">
                            <a href="#" class=""><i class="fa fa-tasks"></i> <span> Product </span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/add_user"> <i class="fa fa-angle-double-right"></i> Add Product </a></li>
                                <li><a href="/view_product"> <i class="fa fa-angle-double-right"></i> View Product </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/earning"><i class="fa fa-money"></i> <span>Earning</span></a>
                        </li>
                        <li> 
                            <a href="/order1"><i class="fa fa-money"></i> <span>View Order</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

        <style>
            .dialog {
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
                text-align: center;
                max-width: 400px;
                animation: slideIn 0.3s ease-in-out;
                background-color: #0d1a27;
            }
        </style>

        <div class="page-wrapper">
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card full-header">
                                <div class="users">
                                    <h3 class="page-title">View Your Orders</h3>
                                </div>
                                <div class="user-box">
                                    <div class="datatables">
                                        <table id="example" class="display nowrap" style="width:100%">
                                            <thead>
                                                <tr class="text-center">
                                                    <!-- <th>&nbsp;</th> -->
                                                    <th>Order_id</th>
                                                    <th>Product Image</th>
                                                    <th>Product name</th>
                                                    <th>Order Date</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                    <th>User</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in user_orders %}
                                                {% for item in order.orderitem_set.all %}
                                                <tr class="text-center">
                                                    <td class="id">{{ order.id }}</td>
                                                    <td class="image-prod">
                                                        <img class="img" src="{{ item.product.image.url }}"
                                                            alt="{{ item.product.name }}"
                                                            style="height: 100px; width: 110px;">
                                                    </td>
                                                    <td class="product-name">
                                                        <h5><span>{{ item.product.name }}</span></h5>
                                                    </td>
                                                    <td class="placed-date">{{ order.created_at }}</td>
                                                    <!-- <td class="shipping-address">
                                                        {{ order.shipping_address.street_address }}, {{ order.shipping_address.city }}, {{ order.shipping_address.country }}
                                                    </td> -->
                                                    <td class="price">${{ item.unit_price }}</td>

                                                    <td class="quantity">
                                                        {{ item.quantity }}
                                                    </td>

                                                    <!-- <td class="total">${{ item.unit_price|floatformat:2 }} * {{ item.quantity }}
                                                    </td> -->
                                                    <td>{{ order.total_price }}</td>
                                                    <!-- {% for o in order_items %}
                                                    <td class="total">${{ o.total_price }} 
                                                    </td>
                                                    {% endfor %} -->
                                                    <!-- <td>
                                                        {% if order.status %}
                                                    <td><small class="badge badge-success">confirm</small></td>
                                                    {% else %}
                                                    <td><small class="badge badge-warning">pending</small></td>
                                                    {% endif %}
                                                    </td> -->
                                                    <!-- <div class="actions">
                                                        {% if order.status == pending %}
                                                        <button class="btn btn-secondary" disabled="disabled">Pending</button>
                                                        {% elif order.status == confirm %}
                                                        <button class="btn btn-success" disabled="disabled">Confirmed</button>
                                                        {% elif order.status == shipped %}
                                                        <button class="btn btn-primary" disabled="disabled">Shipped</button>
                                                        {% elif order.status == complete %}
                                                        <button class="btn btn-success" disabled="disabled">Pending</button>
                                                        {% else %}
                                                        <button class="btn btn-danger" disabled="disabled">Pending</button>
                                                        {% endif %}
                                                    </div> -->
                                                    <td> {{ order.user }}</td>
                                                    <td class="total"><small class="badge badge-success"></small>{{ order.status }}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="dropdown-toggle" type="button"
                                                                data-toggle="dropdown"
                                                                style="border: none;background: #fff0;"><img
                                                                    src="{% static 'setting.png'%}"
                                                                    style="width:30px;height:30px;">
                                                            </button>
                                                            <ul class="dropdown-menu">

                                                                <li><a href="pending/{{order.id}}" data-toggle="tooltip"
                                                                        title="" data-original-title="pending"><img
                                                                            src="{% static 'pending.png' %}"
                                                                            style="width:20px;height:20px;"></a></li>

                                                                <li><a href="confirmed/{{order.id}}"
                                                                        data-toggle="tooltip" title=""
                                                                        data-original-title="confirm"><img
                                                                            src="{% static 'Delete1.png' %}"
                                                                            style="width:20px;height:20px;"></a></li>

                                                                <li><a href="placed/{{order.id}}" data-toggle="tooltip"
                                                                        title="" data-original-title="shipped"><img
                                                                            src="{% static 'active.png' %}"
                                                                            style="width:20px;height:20px;"></a></li>

                                                                <li><a href="completed/{{order.id}}"
                                                                        data-toggle="tooltip" title=""
                                                                        data-original-title="complete"><img
                                                                            src="{% static 'complete.png' %}"
                                                                            style="width:20px;height:20px;"></a></li>

                                                                <li><a href="cancel/{{order.id}}" data-toggle="tooltip"
                                                                        title="" data-original-title="cancel"><img
                                                                            src="{% static 'cancel.png' %}"
                                                                            style="width:20px;height:20px;"></a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>

                                                {% endfor %}
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-sm-12">

                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'vender/js/jquery-3.6.0.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'vender/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'vender/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'vender/js/script.js' %}"></script>

</body>

</html>