{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Add Product Jongolo Home Page</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'vender/img/favicon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vender/css/bootstrap.min.css' %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'vender/css/font-awesome.min.css' %}">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="{% static 'vender/css/feathericon.min.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'vender/css/style.css' %}">

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="{% static 'vender/img/logo.png' %}" alt="Logo">
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src="{% static 'vender/img/logo-small.png' %}" alt="Logo" width="30" height="30">
                </a>
            </div>
            <!-- /Logo -->

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>


            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->

            <!-- Header Right Menu -->
            <ul class="nav user-menu">

                <!-- App Lists -->
                <li class="nav-item dropdown app-dropdown">
                    <a class="nav-link dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown"
                        href="#"><i class="fe fe-app-menu"></i></a>
                    <ul class="dropdown-menu app-dropdown-menu">
                        <li>
                            <div class="app-list">
                                <div class="row">
                                    <div class="col"><a class="app-item" href="inbox.html"><i
                                                class="fa fa-envelope"></i><span>Email</span></a></div>
                                    <div class="col"><a class="app-item" href="calendar.html"><i
                                                class="fa fa-calendar"></i><span>Calendar</span></a></div>
                                    <div class="col"><a class="app-item" href="#"><i
                                                class="fa fa-comments"></i><span>Chat</span></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- /App Lists -->

                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle"
                                src="{% static 'vender/img/profiles/avatar-01.jpg' %}" width="31"
                                alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="{% static 'vender/img/profiles/avatar-01.jpg' %}" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Ryan Taylor</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->

            </ul>
            <!-- /Header Right Menu -->

        </div>
        <!-- /Header -->

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        <li>
                            <a href="/dashboard-add"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                        </li>

                        <li class="submenu active">
                            <a href="#" class=""><i class="fa fa-tasks"></i> <span> Product </span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/add_user"> <i class="fa fa-angle-double-right"></i> Add Product </a></li>
                                <li><a href="/view_product"> <i class="fa fa-angle-double-right"></i> View Product </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/earning"><i class="fa fa-money"></i> <span>Earning</span></a>
                        </li>
                        <li>
                            <a href="View_Order.html"><i class="fa fa-money"></i> <span>View Order</span></a>
                        </li>
                        <!--<li> -->
                        <!--	<a href="Product_review.html"><i class="fa fa-address-card"></i> <span>Product Review</span></a>-->
                        <!--</li>-->
                        <!--<li> -->
                        <!--	<a href="Notification.html"><i class="fa fa-question"></i> <span>Notification</span></a>-->
                        <!--</li>-->
                        <!--<li> -->
                        <!--	<a href="privacy_policy.html"><i class="fa fa-briefcase"></i> <span>privacy policy</span></a>-->
                        <!--</li>-->
                        <!--<li> -->
                        <!--	<a href="terms_condition.html"><i class="fa fa-briefcase"></i> <span>Terms Condition</span></a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->



<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="page-title">Profile</h3>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="profile-header mb-3 border-full">
                    <div class="row align-items-center">
                        <div class="col-auto profile-image">
                            <a href="#">
                                <img class="rounded-circle" alt="User Image" src="static/vender/img/profiles/avatar-02.jpg">
                            </a>
                        </div>
                        {% for r in user_orders %}
                        <div class="col ml-md-n2 profile-user-info">
                            <h4 class="user-name mb-0">{{ r.user.username }}</h4>
                            <h6 class="text-muted">UI/UX Design Team</h6>
                            <div class="user-Location"><i class="fa fa-map-marker"></i> {{ r.city }}, {{ r.address}}
                            </div>
                            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        </div>
                        <!-- <div class="col-auto profile-btn">
                            <a href="" class="btn btn-primary">
                                Message
                            </a>
                            <a href="" class="btn btn-primary">
                                Edit
                            </a>
                        </div> -->
                        {% endfor %}
                    </div>
                </div>
                <div class="full-tabs mb-4 border-full">
                    <div class="profile-menu">
                        <ul class="nav nav-tabs nav-tabs-solid">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#per_details_tab">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#password_tab">Password</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content profile-tab-cont">

                        <!-- Personal Details Tab -->
                        <div class="tab-pane fade show active" id="per_details_tab">

                            <!-- Personal Details -->
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="card" style="margin-bottom: 0.135rem;">
                                        <div class="card-body">
                                            <h5 class="card-title d-flex justify-content-between">
                                                <span>Personal Details</span>
                                                <a class="edit-link" data-toggle="modal"
                                                    href="#edit_personal_details"><i
                                                        class="fa fa-edit mr-1"></i>Edit</a>
                                            </h5>
                                            {% for r in user_orders %}
                                            <div class="row">
                                                <p class="col-sm-3 text-muted text-sm-left mb-0 mb-sm-3">Name
                                                </p>
                                                <p class="col-sm-9">{{ r.user.username }}</p>
                                            </div>
                                           
                                            <div class="row">
                                                <p class="col-sm-3 text-muted text-sm-left mb-0 mb-sm-3">Date of
                                                    Birth</p>
                                                <p class="col-sm-9">24 Jul 1983</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-3 text-muted text-sm-left mb-0 mb-sm-3">Email
                                                    ID</p>
                                                <p class="col-sm-9">{{ r.user.email }}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-3 text-muted text-sm-left mb-0 mb-sm-3">Mobile
                                                </p>
                                                <p class="col-sm-9">{{r.contact}}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-3 text-muted text-sm-left mb-0">Address</p>
                                                <p class="col-sm-9 mb-0">{{ r.city }}<br>
                                                    {{ r.address }}<br>
                                                    <!-- Florida - 33165,<br> -->
                                                   </p>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!-- Edit Details Modal -->
                                    <div class="modal fade" id="edit_personal_details" aria-hidden="true" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Personal Details</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                	<form method="post" enctype='multipart/form-data'>
                                                        {% csrf_token %}
                        
                                                        <div class="form-group col-sm-12">
                                                            
                                                            <label for="{{ fm.username.id_for_label }}">UserName </label>
                                                            {% render_field fm.username class="form-control" placeholder="username" %}
                                                        </div>
                        
                                                        <div class="form-group col-sm-12">
                                                        
                                                            <label for="{{ fm.email.id_for_label }}">Enter Email</label>
                                                            {% render_field fm.email class="form-control" placeholder="Enter Your Email" %}
                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            <label for="{{ fm.password.id_for_label }}">Enter Email</label>
                                                            {% render_field fm.password class="form-control" %}
                                                        </div>
                                                        
                                                        <div class="form-group col-sm-12">
                                            
                                                            <label for="{{ form.contact.id_for_label }}">Contact Number </label>
                                                            {% render_field form.contact class="form-control" %}
                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            
                                                            <label for="{{ form.city.id_for_label }}">City Name </label>
                                                            {% render_field form.city class="form-control" %}
                                                        </div>
                                                            <div class="form-group col-sm-12">
                                                            
                                                            <label for="{{ form.address.id_for_label }}">Address</label>
                                                            {% render_field form.address class="form-control" %}
                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            
                                                            <label for="{{ form.profile_pic.id_for_label }}">Profile Picture </label>
                                                            {% render_field form.profile_pic class="form-control" %}
                                                        </div>
                                                        <div class="form-group col-sm-12">
                                                            <div class="submit">
                                                                <button type="submit" class="btn btn-primary btn-block">Save
                                                                    Changes</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit Details Modal -->

                                </div>

                                <div class="col-lg-3">

                                    <!-- Skills -->
                                    <!-- <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title d-flex justify-content-between">
                                                <span>Skills </span>
                                                <a class="edit-link" href="#"><i class="fa fa-edit mr-1"></i>
                                                    Edit</a>
                                            </h5>
                                            <div class="skill-tags">
                                                <span>Html5</span>
                                                <span>CSS3</span>
                                                <span>WordPress</span>
                                                <span>Javascript</span>
                                                <span>Android</span>
                                                <span>iOS</span>
                                                <span>Angular</span>
                                                <span>PHP</span>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- /Skills -->

                                </div>
                            </div>
                            <!-- /Personal Details -->

                        </div>
                        <!-- /Personal Details Tab -->

                        <!-- Change Password Tab -->
                        <div id="password_tab" class="tab-pane fade">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Change Password</h5>
                                    <div class="row">
                                        <div class="col-md-10 col-lg-6">
                                            <form>
                                                <div class="form-group">
                                                    <label>Old Password</label>
                                                    <input type="password" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input type="password" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Confirm Password</label>
                                                    <input type="password" class="form-control">
                                                </div>
                                                <button class="btn btn-primary" type="submit">Save
                                                    Changes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Change Password Tab -->

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->

</div>

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="{% static 'vender/js/jquery-3.6.0.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'vender/js/bootstrap.bundle.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'vender/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'vender/js/script.js' %}"></script>

</body>

</html>